.card {
  cursor: pointer;
  position: relative;
}

.cardImgContainer,
.cardItemContainer {
  width: 220px;
  height: 340px;
}

.cardImgContainer img {
  width: 100%;
  height: 100%;

  background-size: cover;

  border: 5px solid #000c20;
  border-radius: 10px;

  transform: scale(1);
  transition: transform 0.3s linear;
}

.card:hover img,
.card:active img {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.cardItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: white;
  text-align: center;

  opacity: 0;

  padding: 10px 0;

  border-radius: 10px;

  transform: scale(1);
  transition: all 0.3s linear;

  position: absolute;
  top: 0px;
  left: 0px;
}

.card:hover .cardItemContainer,
.card:active .cardItemContainer {
  opacity: 1;

  transform: scale(1.1);
  transition: all 0.3s linear;

  background-color: rgba(0, 0, 0, 0.7);
}

.cardItemH3 {
  max-width: 200px;

  font-size: 20px;
  font-weight: bold;

  /*cursor: text;*/
}

.cardItemRating {
  font-size: 16px;
  font-weight: normal;

  position: relative;
}
.cardItemRating::before {
  content: '';
  width: 16px;
  height: 16px;

  background-image: url(../../img/icons/star.png);

  position: absolute;
  top: -0.5px;
  left: -21px;
}

.cardItemText {
  max-width: 200px;

  font-size: 14px;

  text-align: justify;
  line-height: 1.2;

  /*cursor: text;*/
}

.cardButton {
  min-width: 120px;

  font-size: 20px;
  font-weight: bold;

  color: white;

  padding: 8px 0px;

  border: 4px solid white;

  background: transparent;
  transition: all 0.3s linear;
}
.cardButton:hover {
  min-width: 90%;
  color: black;

  border: 4px solid black;

  background-color: white;

  transition: all 0.3s linear;
}
