.main {
  padding: 0 25px 25px 25px;
}

.cardsItems {
  display: grid;
  grid-template-columns: repeat(6, 220px);
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 1530px) {
  .cardsItems {
    grid-template-columns: repeat(5, 220px);
  }
}

@media screen and (max-width: 1280px) {
  .cardsItems {
    grid-template-columns: repeat(4, 220px);
  }
}

@media screen and (max-width: 1020px) {
  .cardsItems {
    grid-template-columns: repeat(3, 220px);
  }
}

@media screen and (max-width: 770px) {
  .cardsItems {
    grid-template-columns: repeat(2, 220px);
  }
}

@media screen and (max-width: 520px) {
  .cardsItems {
    grid-template-columns: repeat(2, 220px);
    column-gap: 10px;
  }
}

@media screen and (max-width: 490px) {
  .cardsItems {
    grid-template-columns: repeat(1, 220px);
  }
}
